@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Montserrat', sans-serif;
  }
  

.cinzel-font {
    font-family: 'Cinzel', serif;
  }

.dancing-script-font {
  font-family: 'Dancing Script', 'cursive';
  font-optical-sizing: auto;
  font-style: normal;
  font-weight:400
}